<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Yeezy</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <h1>Kanye West</h1>
    <h2>I Love You like Kanye Loves Kanye</h2>
    <h2>Add a message</h2>

    <form action="/messages" method="POST">
      <input type="text" placeholder="name" name="name">
      <input type="text" placeholder="message" name="msg">
      <button type="submit">Submit</button>
    </form>
    <iframe style="border: 0; width: 350px; height: 470px;" id="playlist" src="http://bandcamp.com/EmbeddedPlayer/album=2221243415/size=large/bgcol=333333/linkcol=e99708/tracklist=false/transparent=true/" seamless><a href="http://djpurpberry.com/album/the-life-of-pablo-chopped-and-screwed">The Life of Pablo (Chopped and Screwed) by Kanye West</a></iframe>
    <h3>Messages</h3>
    <ul class="messages">
      <% for(var i=0; i<messages.length; i++) {%>
        <li class="message">
          <span><%= messages[i].name %></span>
          <span><%= messages[i].msg %></span>
          <% var totalThumbs = messages[i].thumbUp  - messages[i].thumbDown %>
            <span class="hidden"><%= messages[i].thumbUp %></span>
            <span class="hidden"><%= messages[i].thumbDown %></span>
            <span><%= totalThumbs %></span>
            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
            <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
        </li>
        <% } %>
    </ul>


    <script src="main.js"></script>

  </body>

</html>